 <!-- =============== Navigation ================ -->
 <header>
    <div class="container">
      <nav class="nav">
        <div class="nav__menu-btn">
          <img src="../../../assets/img/hamburger.svg" alt="menu" />
        </div>
        <ul class="nav__list nav__list--primary box">
          <li class="nav__item"><a routerLink="/shop" class="nav__link">Shop</a></li>
          <li class="nav__item"><a href="#" class="nav__link">About</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
          <li class="nav__item nav__item--login"><a routerLink="/login" class="nav__link">Login</a></li>
        </ul>
        <div class="box">
          <img
            class="logo__img"
            src="../../../assets/img/logo2.png"
            alt="logo"
          />
        </div>
        <div class="box cart__span">
          <a routerLink="/login" class="cart__link">Login</a>
          <img routerLink="/cart" class="cart__img" src="../../../assets/img/cart.svg" />
        </div>
      </nav>
    </div>
  </header>
  <!-- =============== Navigation End ================ -->
