<!-- =============== Hero =============== -->

<div class="hero">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Galactic Clothing</h1>
          <div class="hero__image1"></div>
        </div>
        <div class="col">
          <div class="hero__image2"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- ================= Hero End =============== -->

  
<!--=============== section1 ================ -->

<section class="section1">
    <img src="../../../assets/img/nav_main1.jpg" />
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>
            Are you man<br />
            of the future?
          </h2>
          <p>
            Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a
            pellentesque dui, non felis. Maecenas malesuada elit lectus felis,
            malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies
            porta urna. Vestibulum commodo volutpat a, c onvallis ac, laoreet
            enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla
          </p>
        </div>
        <div class="col">
          <div class="section1__image"></div>
        </div>
      </div>
    </div>
  </section>
  <!--=============== section1 End ================ -->

  <!--=============== section2 ================ -->

  <section class="section2">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>The best quality.</h2>
          <p>
            Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a
            pellentesque dui, non felis. Maecenas malesuada elit lectus felis,
            malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies
            porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet
            enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla
            imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada
            fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing
            wisi.
          </p>
        </div>
        <div class="col">
          <div class="section2__image"></div>
        </div>
      </div>
    </div>
  </section>
  <!--=============== section2 End ================ -->

  <!--=============== section3 ================ -->

  <section class="section3">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Be original.</h2>
          <p>
            Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a
            pellentesque dui, non felis.
          </p>
        </div>
        <div class="col">
          <div class="section3__image"></div>
        </div>
      </div>
    </div>
  </section>

  <!--=============== section3 End ================ -->

  <!--=============== section4 ================ -->

  <section class="section4">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>
            See our<br />
            products.
          </h2>
          <p>
            Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a
            pellentesque.
          </p>
          <button id="shopNow">Shop Now</button>
        </div>
        <div class="col">
          <div class="section4__carusel">
            <div class="section4__btn_next">
              <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80.04 80.04"><defs><style>.cls-1{fill:#fff;stroke:#878787;stroke-miterlimit:10;}</style></defs><title>Zasób 1</title><g id="Warstwa_2" data-name="Warstwa 2"><g id="Warstwa_1-2" data-name="Warstwa 1"><circle class="cls-1" cx="40.02" cy="40.02" r="39.52"/><polyline class="cls-1" points="44.11 55.02 65.22 40.77 44.11 25.02"/><line class="cls-1" x1="60.21" y1="40.22" x2="14.82" y2="40.22"/></g></g></svg> -->
            </div>
            <div class="section4__image1"></div>
            <div class="section4__image2"></div>
            <div class="section4__image3"></div>
            <div class="section4__image4"></div>
            <div class="section4__image5"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--=============== section4 End ================ -->

  <!--=============== section5 ================ -->

  <section class="section5">
    <h2>Contact us.</h2>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section5__map"></div>
        </div>
        <div class="col">
          <form action="">
            <input
              type="text"
              id="name"
              name="name"
              placeholder=" Name"
            /><br />
            <input
              type="email"
              id="email"
              name="email"
              placeholder=" Email"
            /><br />
            <textarea
              name="message"
              id="message"
              placeholder=" Message"
            ></textarea
            ><br />
            <button disabled>Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!--=============== section5 End ================ -->
