

<h1>Summmary</h1>

<div class="row">
    <div class="col">

        <h1>Shipping</h1>
        <div class="adress">
            <p>First Name: {{ adressInfo.firstName }}</p>
            <p>Last Name: {{ adressInfo.lastName }}</p>
            <h3>Adress:</h3>
            <p>Street: {{ adressInfo.street }}</p>
            <p>City: {{ adressInfo.city }}</p>
            <p>Zip-Code: {{ adressInfo.zip }}</p>
            <h3>Method of Shipping:</h3>
            <p>{{shipping.company}}</p>
        </div>

    </div>

    <div class="col">
       <h1>Products</h1>

       <div class="products">
       <div class="product">
           1. T-shirt Star1 x 3
       </div>
    </div>
       <p>Total price: <span>30eur</span></p>
       <p>Shipping: <span>{{shipping.price | currency: 'EUR'}}</span></p>
       <p>Payment: <span>30eur</span></p>
    </div>
</div>

<div class="btns">
    <app-button-back></app-button-back>
    <button>Order</button>
    </div>
