<div class="row">
    <div class="col">

        <h1>Adress</h1>

        <app-adress-form></app-adress-form>
    </div>

    <div class="col">
       <h1>Choose shipping</h1>

       <form>
       <select class="shipping" name="shipping" required  #courier="ngModel" [(ngModel)]="choosenShipping" (change)="chooseShipping($event.target.value)">
        <option selected hidden [value]="undefined">-- shipping --</option>
        <option *ngFor="let ship of shipping; index as i" [value]="i">{{ship.company}}: {{ship.price}}</option>
    </select>
    <div *ngIf="courier.invalid && courier.touched"
    class="alert">
  <div *ngIf="courier.errors.required">
    Shipping is required.
  </div>
</div>
</form>

</div>

</div>
<div class="btns">
    <app-button-back></app-button-back>
    <button [disabled]="!adressIsValid || !choosenShipping" [routerLink]="['../summary']">Continue</button>
    </div>
