<!-- ============= Footer =================-->

<footer>
    <div class="container">
      <div class="row">
        <div class="col">
          <h4>Info</h4>
          <ul class="info">
            <li><a href="#">Shop</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col">
          <h4>Social</h4>
          <ul class="social">
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">YouTube</a></li>
          </ul>
        </div>
        <div class="col">
          <h4>Contact us</h4>
          <ul class="contact">
            <li><a class="mail" href="#">galacticclothing@gmail.com</a></li>
            <li>+22 888 888 88</li>
          </ul>
        </div>
        <div class="col centered">
          <a class="logo" href="#"
            ><img src="../../../assets/img/logo1.png" alt="logo"
          /></a>
        </div>
      </div>
    </div>
  </footer>

  <!-- ============= Footer End =================-->
